a:link, a:visited {
	color: #C00;
	text-decoration:none;
}

a:hover {
	text-decoration: underline;
}

body{
	font-size:0.8em;
	/* text-align:center; */
	background-color:#FFF;
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	color: #000;
	margin:0px;
	padding:0px;
}

h1 {
	font-size: 3em;
	color: #CCC;
	text-align: center;
	padding: 0;
	margin: 0;
}

img{
	border:0px;
}


#header {
	height: 90px;
	position: relative;
}

.page-header {
	position: absolute;
	font: italic bold 20pt arial; 
	padding: 5px;
	top: 0px;
	left: 0px;
	color: #700;
}

div#drop {
	left: 2px;
	top: 2px;
	color: #FFF;
}

.header-img {
	position: absolute;
	left: 0;
	top: 0;
}

#top-divider {
   position: relative;
   height: 2em;
	background: #AAA;
}

#top-divider > #path {
   position: absolute;
   left: 0;
	top: 0.4em;
   width: 50%;
}

#top-divider > #search {
   position: absolute;
   right: 0;
   width: 50%;
   text-align: right; /* depends on element width */
} 

#main {
	position: relative;
}

#main > #sidebar {
	width: 200px;
}

#main > #content {
	top: 0px;
	position: absolute;
	margin-left: 200px;	
	padding: 5px;
	text-align: left;
	vertical-align: top;
}

#footer {
/*	position: absolute;
	bottom: 0em;
*/
	text-align: center;
}


/* Rows */
div.row {
	position: relative;
  padding-top: 10px;
 }

div.row .left {
  position: absolute;
	left: 0;
  text-align: left;
}

div.row .right {
  position: absolute;
	right: 0;
  width: 300px;
  text-align: right;
} 

.alert {
	color: #F00;
	font-size: 14pt;
}
/* Gallery */
	/* jQuery lightBox plugin - Gallery style */
	.gallery {
		background-color: #444;
		padding: 10px;
		/* width: 520px; */
		margin: 10px;
	}
	.gallery ul { list-style: none; }
	.gallery ul li { display: inline; }
	.gallery ul img {
		border: 5px solid #3e3e3e;
		border-width: 5px 5px 20px;
	}
	.gallery ul a:hover img {
		border: 5px solid #fff;
		border-width: 5px 5px 20px;
		color: #fff;
	}
	.gallery ul a:hover { color: #fff; }



