$linkcolor:  #B31000;
$link-background: #FFF;
$hover-background: #ee0;

a:link, a:visited {
	color: $linkcolor;
	text-decoration:none;
}

a:hover {
	text-decoration: underline;
}

a#header-link:hover {
	text-decoration: none !important;
}

body{
	font-size: 1.2em;
	/* text-align:center; */
	background-color:white;
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	margin:0px;
	padding:0px;
	min-width: 950px;
}

h1 {
	font-size: 3em;
	color: #b31000;
	text-align: center;
	padding: 0;
	margin: 0;
}

img{
	border:0px;
}



/* left side menu */
	/* Superfish */
.sf-menu {
	li:hover, li.sfHover, a:focus, a:hover {
		background: $hover-background !important;
		color: $linkcolor;
	}


	a, a:visited, a:link {
    	color: $linkcolor !important;
	}

// .sf-menu a, .sf-menu a:visited, .sf-menu a:link 	
	li.active {
		a, a:visited, a:link {
			background-color: $linkcolor;
			color: $link-background !important;
		}
		a:hover, a:focus {
			color: $linkcolor !important;
			background-color: $hover-background;
		}
	}
}

/* Rows */
div.row {
	position: relative;
  	padding-top: 10px;
	.left {
		position: absolute;
		left: 0;
		text-align: left;
	}
	.right {
		position: absolute;
		right: 0;
		width: 300px;
		text-align: right;
	} 
 }


/* Header styles */
#header {
	/* float:left; */
	position: relative;
	width:100%;
	height: 115px;
	background: #EEEE00;  /* #F5E521; */ /* #E8E500 */ /* #f9de00 */;
	text-align: center;
	padding: 14px 0;
	font-variant:small-caps;
	/* padding-bottom: 14px; */
	/*border: #EEEE00 14px solid; */
}

#kingme-left {
	position: absolute;
	top: 14px;
	left: 14px;
}

#kingme-right {
	position: absolute;
	top: 14px;
	right: 14px;
}

#contentwrapper{
	float: left;
	width: 100%;
}

#contentcolumn{
	margin-left: 14em; /*Set left margin to LeftColumnWidth*/
}

#leftcolumn{
	float: left;
	width: 14em; /*Width of left column*/
	margin-left: -100%;
}


/*
#header-center {
	background: red;
	margin: 0px auto;
}
*/
.page-header {
	position: absolute;
	font: italic bold 20pt arial; 
	padding: 5px;
	top: 0px;
	left: 0px;
	color: #b31000;
}

div#drop {
	left: 2px;
	top: 2px;
	color: #CCC;
}

/**************************************
 * flow layout from http://matthewjamestaylor.com/blog/perfect-2-column-left-menu.htm
 *************************************/
/* 'widths' sub menu */
/*
#layoutdims {
	clear:both;
	background:#eee;
	border-top:4px solid #000;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}
*/
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	/* position:relative; */
	padding:0 0 1em 0;
	/* overflow:hidden; */
}
/* 2 Column (left menu) settings */
.leftmenu {
	background:#fff;		/* right column background colour */
}


.colleft {
/*	right:85%; */			/* right column width */
	
}
.col1 {
	width:13em;			/* right column content width */
	/*background: blue;	*/  /* left column background colour */
	/*left: 15%; */			/* 100% plus left column left padding */
}
.col2 {
	width: 40em;
	margin-left: 10em; 
	/* margin auto 50%; */
	 /* width:85%; */			/* left column content width (column width minus left and right padding) */
	/* left: 20em;	*/		/* (right column left and right padding) plus (left column left padding) */
}


/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
	text-align: center;
}
#footer p {
	padding:10px;
	margin:0;
}

.col-2 {
	width: 50%;
	float: left;	
}

.indent {
	padding-left: 1em;
}



#contact-us .dictionary-grid {
	font-size: 1.5em;
}



/******************************
 *********dictionary grid*****
 *****************************/
.dictionary-grid {
	margin-left: auto;
	margin-right: auto;
	width: 25em;
	font-size: 2em;
}

.dictionary-grid .row {
	clear: both;
	padding: 0.5em 1em;
}
.row .row-left {
	float: left;
	width: 6em;
	font-weight: bold;
}

.row .row-right {
	float: left;
}

.center-column {
	margin-left: auto; 
	margin-right: auto; 
	width: 550px;
}


/*******************
 ******Page specific****
 ************************/
#store-hours .dictionary-grid .row .row-left {
	width: 10em;
}

#pk-family .dictionary-grid {
	font-size: 1.4em;
}

#pk-family .dictionary-grid {
	width: 30em;
}

#pk-family .dictionary-grid .row {
	padding: 2em;
}

#pk-family .dictionary-grid .row .row-left {
	width: 8em;
}
 
#pk-delivery {
	font-size: 1.2em;
	font-weight: bold;
	margin-left: auto; 
	margin-right: auto; 
	width: 500px;	
/*
	float: right;
	padding-left: 555px;
*/
}

/**********************
 * Menu Page 
 ***********************/

/* Dictionary */
dl.pk-menu-dict  { 
	/* border: 3px double #ccc; */
	padding: 0.5em; 
} 
dl.pk-menu-dict dt { 
	float: left; 
	clear: left; 
	width: 6em; 
	text-align: left; 
	font-weight: bold; 
} 
/*
dl.pk-menu-dict dt:after { 
	content: ":"; 
} 
*/
dl.pk-menu-dict dd { 
	margin: 0 0 0 6em; 
	padding: 0 0 0.5em 0; 
}
/* 2-col-center */
div.pk-menu-2-col-center {
	width: 100%;
	padding-bottom: 2em;
}

div.pk-menu-2-col-center .row {
	clear: both;
	padding-bottom: 2em;
	/* width: 100px; */
}

div.pk-menu-2-col-center .column {
	float: left;
	width: 50%;
	text-align: center;
	font-weight: bold;
}

.pk-menu-3-col {
	clear: both;
	width: 100%;
}

.pk-menu-3-col .column {
	float: left;
	width: 30%;
	text-align: center;
	/* padding: 1em; */
}

.pk-menu-3-col .title {
	font-weight: bold;	
}

.pk-menu-3-col .descr {

}

.pics-thumbs {
	float: left;
	padding: 1em;
	margin: 1em;
	/* background: blue; */
	border: thin dashed black;
	height: 13em;
	min-height: 13em;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.pics-thumbs .pics-comment {
	font-weight: bold;
}

/************************
 * About Us
 *************************/
.feature {
	padding-bottom: 1em;
}

/**********************
 * Specials/Coupons
 **********************/
 
#specials {
	background: white;
	color: black;
	padding: 1em; 
	width: 1000px;	
}

#specials-printable-link {
	background: white;
	text-align: right;
	width: 1000px;
}

#specials-header {
	position: relative;
	text-align: center;
	height: 310px; 
}

#specials-logo {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 250px;
}

#specials-calltext {
	font-weight: bold;
	font-size: 2.5em;
}

#specials-map {
	position: absolute;
	top: 0px;
	right: 0px;
	background: white;
	color: black;
}

#specials-delivmap {
	width: 250px;
}

#specials-addr {
	position: absolute;
	bottom: 1em;
	left: 0px;
	font-size: 2em;
}

#specials-phone {
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-weight: bold;
	font-size: 4em;
	color: #000;
}



#specials-coupons {
	background: white;
	position: relative; 
}

.specials-coupon {
	width: 475px;
	background: #FFF url(../img/coupongradient.png) repeat-x bottom;
	border: #b31000 dashed thick;
	color: black;
	/* position: relative; */
	font-weight: bold;
	margin: 6px !important;
}


.coupon-top {
	color: #b31000;
}

.coupon-logo {
	width: 80px;
	float: left;
	padding: 0.2em;
}

.coupon-price {
	/* line-height: 90%; */
	font-size: 75px;
	float: left;
}

.coupon-header {
	width: 385px;
	height: 88px;
	vertical-align: top;
	float: left;
	font-variant:small-caps;
	/* border: thin solid black; */
	margin: 0;
	padding: 0;
}

.coupon-text {
	clear: both;
	text-align: center;
}

.coupon-body {
	clear: both;
	text-align: center;
	white-space: nowrap;	
	height: 68px;
	width: 457px;
	/* border: thin solid black; */
}

.coupon-line1 {}
.coupon-line2 {}
.coupon-line3 {}

.coupon-disclaim {
	font-weight: normal;
	font-size: 11px;
	text-align: center;
}


/*
.specials-coupon {
	height: 190px;
	width: 390px;
	background: #FFF url(/dev/img/coupongradient.png) repeat-x bottom;
	border: #b31000 dashed thick;
	color: black;
	position: relative;
	font-weight: bold;
	float: left;
	margin: 1em;
}


.coupon-top {
	color: #b31000;
	position: relative;
	height: 80px;
}

.coupon-dollar {
	position: absolute;
	top: 6px;
	left: 10px;
	font-size: 60px;
}

.coupon-price {
	position: absolute;
	top: 0px;
	line-height: 90%;
	left: 50px;
	font-size: 100px;
}

.coupon-right {
	color: #b31000;
	position: absolute;
	text-align: center;
	right: 60px;
	top: 0;
}

.coupon-off {
	font-size: 40px;
}

.coupon-logo {
	position: absolute;
	top: 40px;
	left: 0px;
	width: 50px;
}
.coupon-text {
	text-align: center;
}

.coupon-line1 {}
.coupon-line2 {}
.coupon-line3 {}

.coupon-disclaim {
	font-weight: normal;
	font-size: 12px;
}
*/


/****************
 * Catering page
 *****************/
div.catering-section {
	padding: 0.5em 1em;
}

span.catering-label {
	font-weight: bold;
}




/************************
Styles for print medium
*************************/

@media print {
	#header, #footer, #leftcolumn, #menu { 
		display: none;
	}
	#contentcolumn {
		width: 100%;
	}
}


/* Star */
#canvas-wrapper {
	position: relative;
}

.canvas-text {
	position: absolute;
}

