a:link, a:visited {
  color: #b31000;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a#header-link:hover {
  text-decoration: none !important; }

body {
  font-size: 1.2em;
  /* text-align:center; */
  background-color: white;
  font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  min-width: 950px; }

h1 {
  font-size: 3em;
  color: #b31000;
  text-align: center;
  padding: 0;
  margin: 0; }

img {
  border: 0px; }

/* left side menu */
/* Superfish */
.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover {
  background: #eeee00 !important;
  color: #b31000; }
.sf-menu a, .sf-menu a:visited, .sf-menu a:link {
  color: #b31000 !important; }
.sf-menu li.active a, .sf-menu li.active a:visited, .sf-menu li.active a:link {
  background-color: #555;
  color: white !important; }
.sf-menu li.active a:hover, .sf-menu li.active a:focus {
  color: #b31000 !important;
  background-color: #eeee00; }

/* Rows */
div.row {
  position: relative;
  padding-top: 10px; }
  div.row .left {
    position: absolute;
    left: 0;
    text-align: left; }
  div.row .right {
    position: absolute;
    right: 0;
    width: 300px;
    text-align: right; }

/* Header styles */
#header {
  /* float:left; */
  position: relative;
  width: 100%;
  background: #EEEE00;
  /* #F5E521; */
  /* #E8E500 */
  /* #f9de00 */
  text-align: center;
  padding: 14px 0;
  font-variant: small-caps;
  /* padding-bottom: 14px; */
  /*border: #EEEE00 14px solid; */ }

#kingme-left {
  position: absolute;
  top: 14px;
  left: 14px; }

#kingme-right {
  position: absolute;
  top: 14px;
  right: 14px; }


/**********************
 * Content area layout. Sidebars, etc.
 ****************************/
#contentwrapper {
  /*float: left;*/
  width: 100%; }

#contentcolumn {
  margin-left: 14em;
  /*Set left margin to LeftColumnWidth*/ }

#leftcolumn {
  float: left;
  width: 14em;
  /*Width of left column*/
  /*margin-left: -100%; }*/
}

div#drop {
  left: 2px;
  top: 2px;
  color: #CCC; }

/* Footer styles */
#footer {
  clear: both;
  /*float: left;*/
  width: 100%;
  border-top: 1px solid #000;
  text-align: center; }

#footer p {
  padding: 10px;
  margin: 0; }

#admin-link {
  display: inline-block;
  float: right;
  color: #FFF; }
  #admin-link:hover {
    color: #CCC; }

.indent {
  padding-left: 1em; }

#contact-us .dictionary-grid {
  font-size: 1.5em; }

/******************************
 *********dictionary grid*****
 *****************************/
.dictionary-grid {
  margin-left: auto;
  margin-right: auto;
  width: 25em;
  font-size: 2em; }

.dictionary-grid .row {
  overflow: auto;
  padding: 0.5em 1em; }

.row .row-left {
  float: left;
  width: 6em;
  font-weight: bold; }

.row .row-right {
  float: left; }

.center-column {
  margin: 0 auto; 
  max-width: 40em; }

/*******************
 ******Page specific****
 ************************/


#pk-family .dictionary-grid {
  /*font-size: 1.4em;*/ }

#pk-family .dictionary-grid {
  width: 28em; }

#pk-family .dictionary-grid .row {
  padding: 2em; }

#pk-family .dictionary-grid .row .row-left {
  width: 7em; }

#pk-delivery {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  padding: 1em;
  /*
  	float: right;
  	padding-left: 555px;
  */ }

#pk-delivery-map {
  width: 100%;
  height: auto;
}  

/**********************
 * Menu Page 
 ***********************/

.pics-thumbs {
  float: left;
  padding: 1em;
  margin: 1em;
  /* background: blue; */
  border: thin dashed black;
  /*height: 13em;*/
  min-height: 13em;
  text-align: center;
  display: inline-block;
  vertical-align: middle; }

.pics-thumbs .pics-comment {
  font-weight: bold; }

/************************
 * About Us
 *************************/
.feature {
  padding-bottom: 1em; }

/**********************
 * Specials/Coupons
 **********************/
#specials {
  background: white;
  color: black;
  padding: 1em;
  width: 1000px; }

#specials-printable-link {
  background: white;
  text-align: right;
  width: 1000px; }

#specials-header {
  position: relative;
  text-align: center;
  height: 310px; }

#specials-logo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 250px; }

#specials-calltext {
  font-weight: bold;
  font-size: 2.5em; }

#specials-map {
  position: absolute;
  top: 0px;
  right: 0px;
  background: white;
  color: black; }

#specials-delivmap {
  width: 250px; }

#specials-addr {
  position: absolute;
  bottom: 1em;
  left: 0px;
  font-size: 2em; }

#specials-phone {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-weight: bold;
  font-size: 4em;
  color: #000; }

#specials-coupons {
  background: white;
  position: relative; }

.specials-coupon {
  width: 475px;
  background: white url(../img/coupongradient.png) repeat-x bottom;
  border: #b31000 dashed thick;
  color: black;
  /* position: relative; */
  font-weight: bold;
  margin: 6px !important;
  display: inline-block;
}

.coupon-top {
  color: #b31000; }

.coupon-logo {
  width: 80px;
  float: left;
  padding: 0.2em; }

.coupon-price {
  /* line-height: 90%; */
  font-size: 75px;
  float: left; }

.coupon-header {
  width: 385px;
  height: 88px;
  vertical-align: top;
  float: left;
  font-variant: small-caps;
  /* border: thin solid black; */
  margin: 0;
  padding: 0; }

.coupon-text {
  clear: both;
  text-align: center; }

.coupon-body {
  clear: both;
  text-align: center;
  white-space: nowrap;
  height: 68px;
  width: 457px;
  /* border: thin solid black; */ }

.coupon-disclaim {
  font-weight: normal;
  font-size: 11px;
  text-align: center; }

/*
.specials-coupon {
	height: 190px;
	width: 390px;
	background: #FFF url(/dev/img/coupongradient.png) repeat-x bottom;
	border: #b31000 dashed thick;
	color: black;
	position: relative;
	font-weight: bold;
	float: left;
	margin: 1em;
}


.coupon-top {
	color: #b31000;
	position: relative;
	height: 80px;
}

.coupon-dollar {
	position: absolute;
	top: 6px;
	left: 10px;
	font-size: 60px;
}

.coupon-price {
	position: absolute;
	top: 0px;
	line-height: 90%;
	left: 50px;
	font-size: 100px;
}

.coupon-right {
	color: #b31000;
	position: absolute;
	text-align: center;
	right: 60px;
	top: 0;
}

.coupon-off {
	font-size: 40px;
}

.coupon-logo {
	position: absolute;
	top: 40px;
	left: 0px;
	width: 50px;
}
.coupon-text {
	text-align: center;
}

.coupon-line1 {}
.coupon-line2 {}
.coupon-line3 {}

.coupon-disclaim {
	font-weight: normal;
	font-size: 12px;
}
*/
/****************
 * Catering page
 *****************/
div.catering-section {
  padding: 0.5em 1em; }

span.catering-label {
  font-weight: bold; }

/************************
Styles for print medium
*************************/
@media print {
  #header, #footer, #leftcolumn, #menu {
    display: none; }

  #contentcolumn {
    width: 100%; } }
/* Star */
#canvas-wrapper {
  position: relative; }

.canvas-text {
  position: absolute; }

#header-logo {
  width: 33%;
  height: auto;
  max-width: 132px;
  max-height: 118px;
}

#header-delivery {
  width: 60%;
  height: auto;
  max-width: 253px;
  max-height: 118px;
}

#pizzaking-big {
  width: 96%;
  height: auto;
  max-width: 400px;
  padding: 2%;
}

#menu-toggle {
  display: none;
}

@media (max-width: 600px) {
  body {
    min-width: 0;
    font-size: 80%;
  }
  
  #kingme-left, #kingme-right, #header-spacer {
    display: none;
  }
  #menu-toggle {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 8%;
    height: auto;
    z-index: 100;
  }
  #contentwrapper {
    position: relative;
  }

  #leftcolumn {
    display: none;
    float: none;
    margin: 0;
  }
  #leftcolumn, #global-nav-menu {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
  }

  #contentcolumn {
    margin: 0;
  }
 
  .dictionary-grid {
    font-size: 1.1em;
  }

  /* need javascript to always fit: http://stackoverflow.com/questions/9994493/scale-image-to-fit-a-bounding-box-css-only */
  /*#pizzaking-big {
    width: auto;
    max-width: auto;
  }*/

}

.alert {
  padding-top: 1em;
  color: #F00;
  font-size: 16pt;
  text-align: center;
}