
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Fonts
@import "~font-awesome/scss/font-awesome.scss";

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
	height: 100%;
}

body {
  min-height: 100%;
  font-size: 1.2em;
  /* text-align:center; */
  background-color: white;
  font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
  margin: 0px;
  padding: 0px; }

a {
	color: #b31000;
}

#app {
  min-height: 100%;
  display: grid;
  // grid-template-rows: 1fr auto 1fr;
  grid-template-columns: auto;
  // grid-gap: 20px;
  grid-template-areas: 
    "header"
    "main"
    "footer";
}

#header-wrapper {
	grid-area: header;
	background-color: yellow;
	padding: 0.5em;
	width: 100%;
	position: relative;
}

#header {
	
	display: flex;
	justify-content: space-between;

	.center-block {
		display: flex;
		justify-content: center;
	}
}

#menu-toggle {
	// display: none;
	font-size: 2em;
	position: absolute;
	bottom: 8px;
	right: 8px;
}

#we-deliver-block {
	width: 100%;
	color: #800;
	text-align: center;
	font-family: arial;
	padding: 0 0.5em;
	font-weight: bold;
	.we-deliver {
		font-size: 1.5em;
		
	}
	.food-types {
		display: none;
	}
	.phone {
		font-size: 1em;
	}
	.address {
		font-size: 0.8em;
	}
}

#left-sidebar {
	grid-area: left-sidebar;
	display: none;
}

#navigation {
	list-style: none;
	padding-left: 0;
	padding-top: 0;
	li {
		border: medium #808080 solid;
		padding: 0;
		margin: 0;
		line-height: 1;
		font-size: 1.5em;
		font-weight: bold;
	}
}

#main {
	grid-area: main;
	min-height: 100%;
}

#footer {
	grid-area: footer;
	text-align: center;
	border-top: thin solid black;
	margin-top: 0.5em;
}

@media (min-width: 500px) {
	#app {
		grid-template-columns: 12em auto;
		grid-template-areas: 
		"header  header"
		"left-sidebar main"
		"footer footer";
	}
	#we-deliver-block {
		letter-spacing: 0.3em;
		.we-deliver {
			font-size: 1.1em;
			
		}
		.food-types {
			display: block;
			font-size: 0.6em;
		}
		.phone {
			font-size: 1.1em;
		}
		.address {
			font-size: 0.6em;
		}		
	}
	#menu-toggle {
		display: none;
	}


  #left-sidebar {
  	display: block;	
  }
  
}

