.coupon-form, .specials-coupon {
	display: inline-block;
}

.coupon-form {
	width: 425px;
}

#coupon-form-container {
	list-style-type: none; 
	margin: 0; 
	padding: 0;
}

#coupon-form-container li {
	border: thin dotted gray;
	margin: 0.5em;
	border-radius: 10px;
}