/****************************
 *********menu page***********
 *****************************/
#menu-container {
  margin: 0 auto;
  max-width: 40em;
  /* menu section */ }
  #menu-container .menu-section {
    width: 30em;
    /* menu section title */
    /* menu item */
    /* menu table */
    /* 3-col */
    /* 2-col-center */
    /* Dictionary */ }
    #menu-container .menu-section .menu-section-title {
      font-weight: bold;
      font-size: 1.8em;
      text-align: center;
      margin-bottom: 1em; }
    #menu-container .menu-section .menu-item {
      padding: 1em; }
      #menu-container .menu-section .menu-item .menu-item-name-price-row {
        clear: both;
        /*	width: 100%;*/ }
      #menu-container .menu-section .menu-item .menu-item-name {
        width: 15em;
        float: left;
        font-weight: bold; }
      #menu-container .menu-section .menu-item .menu-item-price {
        float: right;
        text-align: right; }
      #menu-container .menu-section .menu-item .menu-item-descr {
        clear: both; }
    #menu-container .menu-section .menu-table {
      width: 98%; }
      #menu-container .menu-section .menu-table td, #menu-container .menu-section .menu-table th {
        border-right: thin solid black;
        border-bottom: thin solid black;
        margin: 0;
        padding: 0.5em;
        border-collapse: collapse; }
      #menu-container .menu-section .menu-table th, #menu-container .menu-section .menu-table {
        border-width: medium; }
    #menu-container .menu-section .pk-menu-3-col {
      clear: both;
      width: 100%; }
      #menu-container .menu-section .pk-menu-3-col .column {
        float: left;
        width: 30%;
        text-align: center;
        /* padding: 1em; */ }
      #menu-container .menu-section .pk-menu-3-col .title {
        font-weight: bold; }
    #menu-container .menu-section div.pk-menu-2-col-center {
      width: 100%;
      padding-bottom: 2em; }
      #menu-container .menu-section div.pk-menu-2-col-center .row {
        clear: both;
        padding-bottom: 2em;
        /* width: 100px; */ }
      #menu-container .menu-section div.pk-menu-2-col-center .column {
        float: left;
        width: 50%;
        text-align: center;
        font-weight: bold; }
    #menu-container .menu-section dl.pk-menu-dict dt {
      font-weight: bold;
      clear: left;
      float: left;
      width: 6em; }
    #menu-container .menu-section dl.pk-menu-dict dd {
      clear: right;
      margin-left: 6em; }
      #menu-container .menu-section dl.pk-menu-dict dd p {
        margin: 0;
        padding: 0; }
    #menu-container .menu-section h4 {
      font-weight: bold;
      font-size: 1.7em;
      margin-bottom: 1em; }
    #menu-container .menu-section .feast-item .feast-title {
      font-weight: bold;
      text-decoration: underline; }
    #menu-container .menu-section .feast-item .feast-toppings::before {
      content: "- "; }

#menu-download {
  text-align: right; }

th {
  margin: 0; }

#print-container * {
  font-size: 10pt; }

#print-container .menu-section {
  width: 99%; }

#print-container .menu-row {
  clear: both;
  /*	width: 100%; */ }

#print-container .menu-cell {
  width: 48%;
  margin: 0.5%;
  border: thin solid black; }

#print-container .left {
  float: left; }

#print-container .right {
  float: right; }

input[type='text'], textarea {
  border: gray medium solid; }
