/****************************
 *********menu page***********
 *****************************/
#menu-container {
	margin: 0 auto; 
	max-width: 40em;
	/* menu section */
	.menu-section {
		width: 30em;
		/* menu section title */
		.menu-section-title {
			font-weight: bold;
			font-size: 1.8em;
			text-align: center;
			margin-bottom: 1em; 
		}
		/* menu item */
		.menu-item {
			padding: 1em;
			.menu-item-name-price-row {
				clear: both;
			/*	width: 100%;*/
			}
			.menu-item-name {
				width: 15em;
				float: left;
				font-weight: bold;
			}
			.menu-item-price {
				float: right;
				text-align: right;
			}

			.menu-item-descr {
				clear: both;
			}
		}
		/* menu table */
		.menu-table {
			width: 98%;
			& td, & th {
				border-right: thin solid black;
				border-bottom: thin solid black;
				margin: 0;
				padding: 0.5em;
				border-collapse: collapse;
			}
			& th, & {
				border-width: medium;
			}								
		}		
		/* 3-col */
		.pk-menu-3-col {
			clear: both;
			width: 100%; 
			.column {
			  float: left;
			  width: 30%;
			  text-align: center;
			  /* padding: 1em; */ 
			}

			.title {
			  font-weight: bold; 
			}		  
		}		
		/* 2-col-center */
		div.pk-menu-2-col-center {
			width: 100%;
			padding-bottom: 2em; 
			.row {
				clear: both;
				padding-bottom: 2em;
			  /* width: 100px; */

			}
			.column {
			  float: left;
			  width: 50%;
			  text-align: center;
			  font-weight: bold; 
			}

		}
		/* Dictionary */
		dl.pk-menu-dict {
			dt {
			  font-weight: bold; 

			    clear: left;
			    float: left;
			    width: 6em;			  
			}
			dd {
			    clear: right;
			    margin-left: 6em;
			  p {
			  	margin: 0;
			  	padding: 0;
			  }
			}
		}
		h4 {
			font-weight: bold;
			font-size: 1.7em;
			margin-bottom: 1em; 
		}
		.feast-item {
			.feast-title {
				font-weight: bold;
				text-decoration: underline;
			}
			.feast-toppings {
				&::before {
					content: '- '
				}
			}
		}
	}
}


#menu-download {
	text-align: right;
}



th {
	margin: 0;
}












#print-container * {
	font-size: 10pt; 
}

#print-container .menu-section {
	width: 99%;
}

#print-container .menu-row {
	clear: both;
/*	width: 100%; */
}

#print-container .menu-cell {
	width: 48%;
	margin: 0.5%;
	border: thin solid black;
	
}

#print-container .left {
	float: left;
}

#print-container .right {
	float: right;
}

input[type='text'], textarea {
	border: gray medium solid;
}
